<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Francis</title>
</head>
<style>
</style>
<body>
    <div id="contenedor" >
        <div id="menu">
            <ul>
                <li><a>Inicio</a></li>
                <li><a>Menu</a></li>
                <li><a>Contactanos</a></li>
                <li style="float:right"><a class="active" href="#about">Iniciar sesión</a></li>
            </ul>
        </div>
        <div id="banner">

        </div>
        <div id="section">
            <div id="logseccion">
                <div id="logseccion1">
                    <div id="imglogo1">

                    </div>
                    <div id="btnlogo1">
                        <button class="btn btn-success" style="width:60%;margin-left:20%;margin-top:20px;height: 50px;">Ver Platillos</button>
                    </div>
                </div>
                <div id="logseccion2">
                    <div id="imglogo2">
    
                    </div>
                    <div id="btnlogo2">
                        <button class="btn btn-success" style="width:80%;margin-left:10%;margin-top:20px;height: 50px;">Iniciar como Empleado</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
